* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 800px;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
}

.topline h3,
.topline p {
    display: inline-block;
}

.topline h3 {
    width: 90%;
}
.topline p {
    width: 9%;
}

.mainview {
    width: 650px
}

.formdiv {
    width: 500px;
}

.btn-outline-dark {
    box-shadow: 2px 3px 5px black ;
}

.btndiv {
    text-align: center;
}

.btn-sm {
    margin-bottom: 15px;
}

a {
    color: rgb(98, 119, 148);
}

.updated {
    margin-top: 50px;
}

.form-row {
    display: flex;
    align-items: flex-end;
}

.text-danger {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.text-danger p {
    padding: 0px;
    margin: 0px;
}